.parent {
    color: red;
    background-color: white;
    font-size: 24rem;
    font-family: 'Times New Roman', Times, serif;
}

div {
    margin: 25px auto;
    padding: 50px;
    height: 100px;
    width: 100px;
    z-index: 100;
}